.working {
  background-color: $primary;
  padding-top: 30px;
  &_text {
    font-size: 10vw;
    font-family: "Righteous";
    text-align: center;
    .line {
      margin: 0 auto;
      width: 300px;
      border: 2px solid $black-1;
      border-radius: 4px;
      margin-bottom: 10px;
    }
  }

  &_card {
    height: 300px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    margin-bottom: 20px;
    background-image: url("https://images.unsplash.com/photo-1516051662687-567d7c4e8f6a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80");
    background-size: cover;
    box-shadow: 2px 7px 20px 0px rgba(203, 210, 217, 0.75);
    -webkit-box-shadow: 2px 7px 20px 0px rgba(203, 210, 217, 0.75);
    -moz-box-shadow: 2px 7px 20px 0px rgba(203, 210, 217, 0.75);
    .inner {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: white;
      box-sizing: border-box;
      padding: 10px;
    }

    .title {
      font-size: 14px;
      color: black;
      text-align: center;
      font-weight: 700;
      color: #181818;
      position: relative;
    }

    .subtitle {
      color: $black-3;
      text-align: center;
      font-size: 14px;
    }
  }
}
