/** @format */

$black-1: #000;
$black-2: #323f4b;
$black-3: #475a6b;
$black-4: #7b8794;
$black-5: #9aa5b1;
$black-6: #cbd2d9;
$black-7: #e4e7eb;
$black-8: #f2f3f5;
$black-9: #f8f9fa;
$black-10: #ffffff;

$blue-1: #2c51b0;
$blue-2: #75a2e3;
$blue-3: #e9f4ff;
$blue-4: #fbfeff;
$blue-card: #0f9ce1;
$blue-sky: #407bff;

$red-1: #ff4b4b;
$red-2: #ffe8e8;
$red-3: #fff8f8;

$green-1: #00b81d;
$green-2: #ebffee;

$yellow-1: #ffd200;
$orange-1: #ff9f00;
$orange-2: #fffee1;

$gray-900: #212121;
$gray-800: #424242;
$gray-700: #616161;
$gray-600: #757575;
$gray-500: #9e9e9e;
$gray-400: #bdbdbd;
$gray-200: #e0e0e0;
$gray-100: #eeeeee;

$white: #fff;

$grid-gutter-width: 15px;
$enable-responsive-font-sizes: true;
$font-family-sans-serif: Rubik;
$font-family-monospace: Rubik;
$font-size-base: 0.875rem;
$table-cell-padding: 1.25rem;
$input-btn-focus-width: 0rem;
$blue: #2c51b0;
$green: #00b81d;
$cyan: #04a4eb;
$yellow: #ffd200;
$orange: #ff9f00;
$red: #ff4b4b;

$primary: #54bd95;
$secondary: #469b5b;
$secondary-color-1: #fec735;
$secondary-color-2: #6dd130;
$secondary-color-3: #548163;
$secondary-color-4: #fbd5d6;
$secondary-color-5: #fdea3b;
$secondary-color-6: #6bc2a1;
$secondary-color-7: #469b5b;
$secondary-color-8: #4949af;
