/** @format */

@import "variables.scss";
@import "heading.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "../navbar/index.scss";

html,
body {
	min-height: 100% !important;
	background-color: $white !important;
	font-family: "Inter", sans-serif !important;
}
