/** @format */

.projects {
  padding-top: 60px;
  padding-bottom: 60px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    .title {
      display: flex;
      align-items: center;
      gap: 30px;
      .devider {
        border: 1px solid $primary;
        width: 100px;
      }
      label {
        margin-bottom: 0 !important;
        font-size: 18px;
        font-weight: bold;
        color: $primary;
      }
    }

    .sub-title {
      width: 50%;
      label {
        font-size: 18px;
      }
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    gap: 18px;

    .tabs_projects {
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
    }

    .tabs_active {
      border-bottom: 4px solid $primary;
      border-radius: 4px;
      font-weight: 600;

      &:hover {
        border-bottom: 4px solid $black-1;
        color: $primary;
      }
    }
  }

  &__showing {
    .images {
      border: 1px solid $primary;
      width: 100%;
      height: 300px;
      margin-bottom: 30px;
      z-index: 1;
      position: relative;
	  border-radius: 4px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        display: block;
		border-radius: 4px;
      }

	  &:hover .overlay {
		opacity: 0.8;
	  }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: $primary;

        .title_project {
          color: white;
          font-size: 20px;
          position: absolute;
		  text-transform: uppercase;
		  font-weight: bold;
          top: 50%;
          left: 50%;
		  text-align: center;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
        }
      }
    }
  }
}
