.me {
  background-color: $primary;

  .images-profile {
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
