/** @format */

.recomendation {
	background-color: $primary;
	padding-top: 60px;
	padding-bottom: 60px;

	&__title {
		width: 100%;
		height: auto;
		margin-bottom: 30px;
		.title {
			display: flex;
			align-items: center;
			gap: 30px;
			.devider {
				border: 1px solid $white;
				width: 100px;
			}
			label {
				margin-bottom: 0 !important;
				font-size: 18px;
				font-weight: bold;
				color: $white;
			}
		}
	}

	&__content {
		.content_slider {
			display: flex !important;
			align-items: center;
			gap: 80px;
			.profile_images {
				img {
					width: 400px;
					object-fit: cover;
					border: 1px solid $primary;
					padding: 20px;
					background-color: $white;
					border-radius: 4px;

					box-shadow: 8px 6px 27px 0px rgba(158, 158, 158, 0.75);
					-webkit-box-shadow: 8px 6px 27px 0px rgba(158, 158, 158, 0.75);
					-moz-box-shadow: 8px 6px 27px 0px rgba(158, 158, 158, 0.75);
				}
			}

			.information {
				label {
					font-size: 20px;
					margin-bottom: 0;
					span {
						font-size: 28px !important;
						color: $white;
						font-weight: bold;
					}
				}
				.role {
					margin-bottom: 20px;

					.base-role {
						font-weight: bold;
						line-height: 10px;
						font-size: 16px;
					}

					.company {
						font-weight: bold;
						line-height: 10px;
						font-size: 16px;
						color: $white;
					}
				}
				.devider {
					border: 1px solid $white;
					width: 150px;
				}
				p {
					font-size: 16px;
					font-weight: 400;
				}
			}
		}
	}
}
